{% extends 'layout.html' %}

{% block contenido %}
<div class="container mt-4">
  <h2 class="text-center">Lista de usuarios</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>      
        <th>Teléfono</th>   
        <th>Dirección</th>      
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.id_usuario }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.direccion }}</td>
          <td>{{ usuario.roles_relacion.rol if usuario.roles_relacion else 'No asignado' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock contenido %}
