{% extends 'layout.html' %}

{% block contenido %}
<div class="container mt-4">
 <h2 class="text-center">Lista de Clientes</h2>
 <table class="table table-bordered">
   <thead class="thead-dark">
     <tr>
       <th>ID</th>
       <th>Nombre</th>
       <th>Email</th>      
       <th>Teléfono</th>   
       <th>Dirección</th>      
       <th>Tipo_id</th>
     </tr>
   </thead>
   <tbody>
     {% for cliente in clientes %}
     <tr>
       <td>{{ cliente.id }}</td>
       <td>{{ cliente.nombre }}</td>
       <td>{{ cliente.email }}</td>
       <td>{{ cliente.telefono }}</td>
       <td>{{ cliente.direccion }}</td>
       <td>{{ cliente.tipo.id if cliente.tipo else 'No asignado' }}</td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
</div>
{% endblock %}
